:root {
  --mainBlue: #191970;
  --mainYellow: #ff9e09;
  --mainGrey: #ece8dc;
  --mainWhite: #fff;
  --mainDark: #222;
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courier New", Courier, monospace !important;
  letter-spacing: 0.25rem !important;
}

.text-white {
  color: var(--mainWhite);
}

.default-background {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-yellow {
  color: var(--mainBlue);
  border-color: var(--mainBlue);
}

.btn-yellow:hover {
  background: var(--mainBlue);
  color: var(--mainWhite);
}

.footer {
  background: var(--mainDark);
}
