:root {
  --mainBlue: #0152a0;
  --mainYellow: #ff9e09;
  --mainGrey: #50595f;
  --mainWhite: #fff;
  --mainDark: #000;
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  letter-spacing: 0.25rem !important;
}

.no-padding-sides {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.text-white {
  color: var(--mainWhite);
}

.title {
  color: var(--mainDark);
  padding-right: 55%;
  padding-bottom: 25%;
}

.btn-blue {
  color: var(--mainBlue);
  border-color: var(--mainBlue);
}

.btn-blue:hover {
  background: var(--mainBlue);
  color: var(--mainWhite);
}

.footer {
  background: var(--mainWhite);
}

.link-blue-footer {
  color: var(--mainWhite);
  padding-left: 0;
}

.link-blue-footer:hover {
  color: var(--mainBlue);
}

.horizontal-bar {
  border-top: 1px solid var(--mainBlue);
}
